*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  min-height: 100vh;
  background-color: hsl(212, 46%, 89%);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 1.8rem 1.8rem 4rem 1.8rem;
  border-radius: 2rem;
  max-width: 32rem;
}

.card__img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.card__qr {
  max-width: 100%;
}

.card__text {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.heading-primary {
  color: hsl(218, 44%, 22%);
  font-size: 2.2rem;
  font-weight: 700;
}

.paragraph {
  margin-top: 2rem;
  letter-spacing: 0.5px;
}

.attribution {
  margin-top: 10rem;
}

@media only screen and (max-width: 23.44em) {
  .card {
    margin: 1rem;
  }
}